.Counter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 40px;
    border: 3px black solid;
    border-radius: 20px;
    background-color: white;
    margin: 50px 0 5px 0;
}

button{
    background-color: #e83928;
    border-radius: 5px;
    color: white;
    height: 30px;
    margin: 0 20px ;
}

.countContainer{
    display: flex;
    flex-direction: row;
    height: 30px;
}

.cuantity{
    margin-top: -0.005px;
}